* {
  margin: 0;
}


input {
  margin: 10px;
}


button {
  padding: 3px;
  margin: 3px;
}

#inputJobCard {
  background-color: rgb(186,135,89);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

#jobContainer {
  background-color: rgb(186,135,89);
  display: flex;
}
