* {
  margin: 0;
}

ul {
  padding: 0;
}

input {
  margin: 10px;
}

body {
  width: 100%;
  background-color: rgb(246, 246, 246);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ls-btn {
  border-radius: 12px;
  border: none;
  background-color: #CC98FF;
  padding: 5px 15px;
  margin-top: 5px;

  &:hover {
    background-color: #a74eff;
    color: whitesmoke;
    transition: .4s;
  }
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-sign-up {
  margin-left: 7px;
  text-decoration: none;
  font-weight: bold;
}

.logo-header {
  margin-top: 15em;
}

.account-options {
  margin-top: 11px;
  font-size: 14px;
}

#inputJobCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 11px 0;
}

textarea {
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 200px;
}

#add-job-btn {
  margin-top: 11px;
}

#jobContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
